# ROS 2 generisani folderi
build/
install/
log/
git@github.com:pfe-rs/
lidar_test_data/
SLAM-Testing/log
lidar_dump.txt
runner.py
.vscode/

# Opciono: Python keš i lokalna podešavanja
__pycache__/
.vscode/
.DS_Store
